<div id="main-content">
    <div class="row">
        <div class="col-md-3 offset-md-3"></div>

        <div class="col-md-6 offset-md-3" style="float:left">


            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" id="tbDomainName" placeholder="ชื่อ Domain">
                </div>
                <button type="submit" class="btn btn-ligth">ค้นหา</button>
                <button type="submit" onclick="addDomain()" class="btn btn-ligth">เพิ่ม</button>
            </form>

        </div>
        <div class="col-md-3 offset-md-3"></div>

    </div>
    <div class="row">
        <div class="col-md-3 offset-md-3"></div>

        <div class="col-md-6 offset-md-3">
            <table id="tableDomain" class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="width:18%;">#</th>
                        <th scope="col" style="width:62%;">ชื่อ Domain</th>
                        <th scope="col" style="width:20%; ">actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each dataDomain}}
                    <tr>
                        <th scope="row"> {{index @index }}</th>
                        <td contenteditable="false">{{this.name}}</td>
                        <td>
                            <a id="saveButton{{index @index }}" style="cursor:pointer;" onclick="saveDomain(this,'{{this._id}}')"
                                hidden><span class="glyphicon glyphicon-floppy-save"></span></a>
                            <a id="cancelButton{{index @index }}" style="cursor:pointer;" onclick="cancelEdit(this,'{{this.name}}')"
                                hidden> <span class="glyphicon glyphicon-remove"></span></a>
                            <a id="editButton{{index @index }}" style="cursor:pointer;" onclick="editDomain(this,'{{this._id}}')"><span
                                    class="glyphicon glyphicon-pencil"></span></a>
                            |
                            <a onclick="deleteDomain('{{this._id}}')" style="cursor:pointer;"> <span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-md-3 offset-md-3"></div>
    </div>
    <!-- /.container -->
</div>

<script>
    function addDomain() {
        let inputDomainname = $('#tbDomainName').val().trim();
        if (inputDomainname != null && inputDomainname != "") {
            $.ajax({
                type: 'POST',
                data: JSON.stringify({
                    "domain": inputDomainname
                }),
                url: '/api/domain',
                contentType: 'application/json',
                success: function (data) {
                    location.reload();
                }
            });
        } else {
            alert("กรุณาระบุชื่อ Domain เพื่อเพิ่ม")
        }
    }
    function searchDomain() {

    }
    function saveDomain(r, id) {
        var i = r.parentNode.parentNode.rowIndex;
        var editButton = "#editButton" + i;
        var saveButton = "#saveButton" + i;
        let cancelButton = "#cancelButton" + i;
        $(editButton).attr("hidden", false);
        $(saveButton).attr("hidden", true);
        $(cancelButton).attr("hidden", false);

        $('#tableDomain').find("tr").eq(i).find("td").eq(0).attr("contenteditable", false);
        $('#tableDomain').find("tr").eq(i).find("td").eq(0).removeAttr("class")

        $.ajax({
            type: 'PUT',
            data: JSON.stringify({
                "name": $('#tableDomain').find("tr").eq(i).find("td").eq(0).html(),
                "id": id
            }),
            url: '/api/domain/update-name',
            contentType: 'application/json',
            success: function (data) {
                location.reload();
            }
        });
    }
    function editDomain(r, id) {
        const i = r.parentNode.parentNode.rowIndex;
        let editButton = "#editButton" + i;
        let saveButton = "#saveButton" + i;
        let cancelButton = "#cancelButton" + i;
        $(editButton).attr("hidden", true);
        $(saveButton).attr("hidden", false);
        $(cancelButton).attr("hidden", false);

        $('#tableDomain').find("tr").eq(i).find("td").eq(0).attr("contenteditable", true);
        $('#tableDomain').find("tr").eq(i).find("td").eq(0).attr("class", "onEdit")
    }

    function cancelEdit(r, name) {
        var i = r.parentNode.parentNode.rowIndex;
        var editButton = "#editButton" + i;
        var saveButton = "#saveButton" + i;
        let cancelButton = "#cancelButton" + i;
        $(editButton).attr("hidden", false);
        $(saveButton).attr("hidden", true);
        $(cancelButton).attr("hidden", true);

        $('#tableDomain').find("tr").eq(i).find("td").eq(0).attr("contenteditable", false);
        $('#tableDomain').find("tr").eq(i).find("td").eq(0).removeAttr("class")
        $('#tableDomain').find("tr").eq(i).find("td").eq(0).text(name);
    }
    function deleteDomain(id) {
        //รอ api delete
        /*
                $.ajax({
                        type: 'PUT',
                        data: JSON.stringify({ _id:id }),
                        url: '/delete-domain',
                        contentType: 'application/json',
                        success: function (data) {
                                location.reload();
                        }
                    });
                    */
    }
</script>