<div id="main-content">

    <div style="text-align:center;">
        <label class="dropdown-toggle text-uppercase backoffice-header" id="dropdownMenuLink" data-toggle="dropdown">
            รายชื่อ Category
        </label>
    </div>

    <div class="accordion" id="accordionExample" style="padding: 0px 10%; margin: 50px 0px 50px 0px;">
        {{#each domainList}}
        <div class="card">
            <div class="card-header  collaspe-header text-uppercase DomainHeader" id="heading{{this.name}}">
                <label class="container">{{this.name}}</label>
                <span class="glyphicon glyphicon-plus-sign" style="float:right; margin:12px 0px; cursor:pointer;"
                    data-toggle="collapse" data-target="#collapse{{this.name}}" aria-expanded="true" aria-controls="collapse{{this.name}}"></span>
            </div>

            <div id="collapse{{this.name}}" class="collapse" aria-labelledby="heading{{this.name}}">
                <div class="card-body">
                    <div class="card">
                        <div class="card-header  collaspe-header ChannelHeader" id="heading{{this.name}}ChannelEmail">
                            <label class="container">Email</label>
                            <span class="glyphicon glyphicon-plus-sign" style="float:right; margin:12px 0px; cursor:pointer;"
                                data-toggle="collapse" data-target="#{{this.name}}CategoryEmail" aria-expanded="true"
                                aria-controls="{{this.name}}CategoryEmail"></span>
                        </div>

                        <div id="{{this.name}}CategoryEmail" class="collapse CategoryHeader" aria-labelledby="heading{{this.name}}CategoryEmail">
                            <div class="card-body">
                                {{#each this.emailSubscribe.category}}
                                <label class="container">{{this.name}}</label><br>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header  collaspe-header ChannelHeader" id="heading{{this.name}}ChannelSMS">
                            <label class="container">SMS</label>
                            <span class="glyphicon glyphicon-plus-sign" style="float:right; margin:12px 0px; cursor:pointer;"
                                data-toggle="collapse" data-target="#{{this.name}}CategorySMS" aria-expanded="true"
                                aria-controls="{{this.name}}CategorySMS"></span>
                        </div>

                        <div id="{{this.name}}CategorySMS" class="collapse CategoryHeader" aria-labelledby="heading{{this.name}}CategorySMS">
                            <div class="card-body">
                                {{#each this.smsSubscribe.category}}
                                <input class="container" id="label{{this._id}}" type="text" maxlength="10" value="{{this.name}}"
                                    readonly>
                                <a style="float:right; cursor:pointer;" id="smsDeleteButton{{this._id}}" onclick="delete('{{this._id}}')">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                                <a style="float:right; cursor:pointer;">|</a>
                                <a style="float:right; cursor:pointer;" id="cancelButton{{this._id}}" onclick="cancelEdit('{{this._id}}','{{this.name}}')"
                                    hidden>
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <a style="float:right; cursor:pointer;" id="saveButton{{this._id}}" onclick="saveEdit('{{this._id}}', 'sms')"
                                    hidden>
                                    <span class="glyphicon glyphicon-floppy-save"></span>
                                </a>
                                <a style="float:right; cursor:pointer;" id="editButton{{this._id}}" onclick="edit('{{this._id}}')">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>

                                <br>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header  collaspe-header ChannelHeader" id="heading{{this.name}}ChannelMobile">
                            <label class="container">Mobile</label>
                            <span class="glyphicon glyphicon-plus-sign" style="float:right; margin:12px 0px; cursor:pointer;"
                                data-toggle="collapse" data-target="#{{this.name}}CategoryMobile" aria-expanded="true"
                                aria-controls="{{this.name}}CategoryMobile"></span>
                        </div>

                        <div id="{{this.name}}CategoryMobile" class="collapse CategoryHeader" aria-labelledby="heading{{this.name}}CategoryMobile">
                            <div class="card-body">
                                {{#each this.mobileSubscribe.category}}
                                <label class="container">{{this.name}}</label><br>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<style scoped>
    .container {
        width: fit-content;
        position: relative;
        padding-left: 35px;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input~.checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked~.checkmark {
        background-color: #535354;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked~.checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>

<script>
    $('.dropdown-toggle').dropdown()
    $('.collapse').collapse()

    function saveEdit(id, channel) {
        var editButton = "#editButton" + id;
        var saveButton = "#saveButton" + id;
        let cancelButton = "#cancelButton" + id;

        let label = "#label" + id;
        let newName = $(label).val();
        alert(id)

        $(editButton).attr("hidden", false);
        $(saveButton).attr("hidden", true);
        $(cancelButton).attr("hidden", false);

        $(label).attr("readonly", true);

        $.ajax({
            type: 'PUT',
            data: JSON.stringify({
                "channel": channel,
                "id": id
            }),
            url: '/api/domain/edit-category',
            contentType: 'application/json',
            success: function (data) {
                location.reload();
            }
        });
    }
    function edit(id) {
        let editButton = "#editButton" + id;
        let saveButton = "#saveButton" + id;
        let cancelButton = "#cancelButton" + id;
        let label = "#label" + id;
        $(editButton).attr("hidden", true);
        $(saveButton).attr("hidden", false);
        $(cancelButton).attr("hidden", false);

        $(label).attr("readonly", false);
    }

    function cancelEdit(id, name) {
        var editButton = "#editButton" + id;
        var saveButton = "#saveButton" + id;
        let cancelButton = "#cancelButton" + id;
        let label = "#label" + id;

        $(editButton).attr("hidden", false);
        $(saveButton).attr("hidden", true);
        $(cancelButton).attr("hidden", true);

        $(label).attr("readonly", true);
        $(label).val(name);
    }


</script>