<div id="main-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1><span class="line">{{{headText}}}</span></h1>
            </div>
        </div>
    </div>
</div>
<div id="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <form role="form" class="form-content" id="formSms">
                    <div class="center-block">
                        <label for="mobile" disabled="disabled" class="col-xs-12 col-sm-4">เบอร์โทรศัพท์:</label>
                        <div class="col-xs-12 col-sm-8">
                            <input type="text" name="mobile" class="form-control input-lg" id="mobile" value={{mobileNo}}
                                disabled>
                        </div>
                    </div>

                    <div class="text-choice col-xs-12 col-sm-offset-3 col-sm-8">
                        <p class="indent">เลือกประเภทข้อมูลข่าวสารได้มากกว่า 1 ประเภท</p>
                    </div>

                    <div class="col-xs-12 col-sm-offset-3 col-sm-7">

                        {{#each allCategory}}
                        <label class="checkbox col-xs-12 col-md-12 col-sm-12">
                            {{#if this.Selected}}
                            <span class="custom-checkbox">
                                <input type="checkbox" name="ck[]" value={{this.categoryValue}} id={{this.categoryValue}}
                                    checked>
                                <span class="box"><span class="tick"></span></span>
                            </span>
                            {{else}}
                            <span class="custom-checkbox">
                                <input type="checkbox" name="ck[]" value={{this.categoryValue}} id={{this.categoryValue}}>
                                <span class="box"><span class="tick"></span></span>
                            </span>
                            {{/if}}
                            <span class="check-text">{{this.categoryName}}</span>
                        </label>
                        {{/each}}

                        <div class="checkbox col-xs-12 col-md-12 col-sm-12 text-center">
                            <button type="submit" onclick="onSubmit()" class="btn-primary">ตกลง</button>
                        </div>
                        <div class="col-xs-12 col-sm-12 text-center">
                            <p><a onclick="onSnooze()" class="textlink">หยุดรับข้อมูลข่าวสาร เป็นเวลา 90 วัน</a></p>
                            <p><a onclick="onUnsubscribe()" class="textlink">หยุดรับข้อมูลข่าวสารทั้งหมด</a></p>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <script>
        ////get value from url to find another channel
        let params = new URLSearchParams(document.location.search.substring(1));
        let name = params.get("choosed");
        let todo = name.split(',')
        let index = todo.indexOf("sms");
        let nexTodo = todo.splice(index, 1)
        let paramlink = params.get("link");
        let paramdomain = params.get("domain");

        ////get input from user
        function onSubmit() {
            var mobileNo = $('#mobile').val();
            var selectedCategories = [];
            $('[name="ck[]"]').each(function () {
                if ($(this).prop('checked') == true) {
                    selectedCategories.push($(this).val())
                }
            });

            //for select next page
            if (selectedCategories.length > 0) {
                if (todo.indexOf("email") != -1) {
                    $.ajax({
                        type: 'PUT',
                        data: JSON.stringify({ link: paramlink, domain: paramdomain, smsSubscribeCategory: selectedCategories }),
                        url: '/update-subscribe-sms',
                        contentType: 'application/json',
                        success: function (data) {
                            window.location.href = "http://localhost:3000/subscribe-email?link=" + paramlink + "&domain=" + paramdomain + "&choosed=" + todo;
                        }
                    });
                }
                else {
                    $.ajax({
                        type: 'PUT',
                        data: JSON.stringify({ link: paramlink, domain: paramdomain, smsSubscribeCategory: selectedCategories }),
                        url: '/update-subscribe-sms',
                        contentType: 'application/json',
                        success: function (data) {
                            window.location.href = "http://localhost:3000/updated-complete/?link=" + paramlink + "&domain=" + paramdomain;
                        }
                    });
                }
            }
        }

        function onSnooze() {
            $.ajax({
                type: 'PUT',
                data: JSON.stringify({ link: paramlink, domain: paramdomain }),
                url: '/update-snooze',
                contentType: 'application/json',
                success: function (data) {
                    window.location.href = "http://localhost:3000/snooze-complete/?link=" + paramlink + "&domain=" + paramdomain;
                }
            });
        }

        function onUnsubscribe() {
            $.ajax({
                type: 'PUT',
                data: JSON.stringify({ link: paramlink, domain: paramdomain }),
                url: '/update-unsubscribe',
                contentType: 'application/json',
                success: function (data) {
                    window.location.href = "http://localhost:3000/unsubscribe-complete/?link=" + paramlink + "&domain=" + paramdomain;
                }
            });
        }
    </script>