<div id="main-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1><span class="line">{{{headText}}}</span></h1>
            </div>
        </div>
    </div>
</div>
<div id="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <form role="form" class="form-content" id="formEmail">
                    <div class="center-block">
                        <label for="email" class="col-xs-12 col-sm-3">กรอกอีเมล:</label>
                        <div class="col-xs-12 col-sm-7">
                            <input type="email" name="email" class="form-control input-lg" id="email" value={{email}}
                                disabled>
                        </div>
                    </div>

                    <div class="text-choice col-xs-12 col-sm-offset-3 col-sm-8">
                        <p class="indent">เลือกประเภทข้อมูลข่าวสารได้มากกว่า 1 ประเภท</p>
                    </div>

                    <div class="col-xs-12 col-sm-offset-3 col-sm-7">

                        {{#each allCategory}}
                        <label class="checkbox col-xs-12 col-md-12 col-sm-12">
                            {{#if this.Selected}}
                            <span class="custom-checkbox">
                                <input type="checkbox" name="ck[]" value={{this.categoryValue}} id={{this.categoryValue}}
                                    checked>
                                <span class="box"><span class="tick"></span></span>
                            </span>
                            {{else}}
                            <span class="custom-checkbox">
                                <input type="checkbox" name="ck[]" value={{this.categoryValue}} id={{this.categoryValue}}>
                                <span class="box"><span class="tick"></span></span>
                            </span>
                            {{/if}}
                            <span class="check-text">{{this.categoryName}}</span>
                        </label>
                        {{/each}}
                        {{#if snooze.isSnooze}}
                        <label style="font-size: 15px">*หมายเหตุ ระยะเวลาหยุดส่งอีเมล 90 วัน คือ: {{snooze.startDate}}
                            -
                            {{snooze.endDate}}</label>
                        {{/if}}
                        <div class="checkbox col-xs-12 col-md-12 col-sm-12 text-center">

                            <button type="submit" onclick="onSubmit()" class="btn-primary">ตกลง</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>
<!-- /.container -->
<script>
    ////get value from url to find another channel
    let params = new URLSearchParams(document.location.search.substring(1));
    let name = params.get("choosed");
    let todo = name.split(',')
    let index = todo.indexOf("email");
    let nexTodo = todo.splice(index, 1)
    let paramUser = params.get("user");
    let paramdomain = params.get("domain");

    // for get input from user
    function onSubmit() {
        var email = $('#email').val();
        var selectedCategories = [];
        $('[name="ck[]"]').each(function () {
            if ($(this).prop('checked') == true) {
                selectedCategories.push($(this).val())
            }
        });
        if (selectedCategories.length > 0) {
            $.ajax({
                type: 'PUT',
                data: JSON.stringify({ user: paramUser, domain: paramdomain, emailSubscribeCategory: selectedCategories }),
                url: '/api/user/update-subscribe-email',
                contentType: 'application/json',
                success: function (data) {
                    window.location.href = "http://localhost:3000/updated-complete/?user=" + paramUser + "&domain=" + paramdomain;
                }
            });
        }

    }

</script>